<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InStep | <%= title %></title>
    <link rel="icon" href="/assets/icon.ico">

    <!-- CSS (Combined for simplicity in example, but separated in file structure) -->
    <link rel="stylesheet" href="<%= docsAssets %>/css/variables.css">
    <link rel="stylesheet" href="<%= docsAssets %>/css/layout.css">
    <link rel="stylesheet" href="<%= docsAssets %>/css/components.css">

    <!-- Compiled JS -->
    <script type="module" src="<%= docsAssets %>/js/main.js"></script>
</head>